* {
  box-sizing: border-box;
}

@purple: #5C258D;
@blue: #4389A2;

@font-face {
  font-family: 'Digital';
  src: url(DS-DIGI.TTF);
}

body{
  background-color: ghostwhite;
  color: white;
}

button{
  width: 60px;
  padding: 15px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  margin: 5px;
  border: 1px solid white;
  color: white;
}

/* Hover al pasar por encima */
button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/* Active es para cuando pulso el botón */
#active, button:active {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(2px);
}

.calculadora {
  padding: 20px;
  width: 338px;
  height: 450px;
  background: linear-gradient(#0099ff, #5C258D);
  /* background-color: rgba(77, 19, 209, 1); */
  /* Borde */
  border-radius: 2.5px;
  border: 1px solid whitesmoke;

  /* Centro */
  margin-left: auto;
  margin-right: auto;

  /*shadows*/
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}


.opciones {
  position: fixed;
    float: right;
    width: 50px;
    height: 200px;
    margin-left: 222px;
}

#display, #display_activo, #display_resultado, #formula {
  background-color: black;
  text-align: right;
  padding: 10px;
  padding-top: 22px;
  width: 290px;
  height: 80px;
  border-radius: 5px;
  margin-top: -0.5px;
  font-family: 'Digital';

  /* Prueba para que no haya overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#formula {
  font-size: 40px;
}

#formula_activa {
/* Hago transicion para todas las variables que cambian */
  transition-property: all;
  transition-duration: 0.5s;
  font-size: 20px;
  color: lightgrey;
  background-color: transparent;
}

#display_activo {
  transition-property: padding-top;
  transition-duration: 0.5s;
  padding-top: 5px;
}

#display_resultado {
  font-size: 45px;
  background-color: transparent;
}

#resta, #divide, #multiplica, #reset, #opcion_activa {
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
}

#igual, #suma, #si_activa {
  display: block;
  height: 120px;
  float: left;
  border: none;
  background-color: rgba(0, 0, 0, 0.75);
}

#si_activa, #opcion_activa {
  transform: translateY(2px);
}
