* {
  box-sizing: border-box;
}

body {
  background-image: url(https://t.ipadizate.es/2017/03/nfn-labs-sunset-iphone-wallpaper-576x1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
  font-size: 13px;
  color: black;
}

h5 {
  text-align: center;
  color: lightgray
}

figcaption{
  text-align: center;
  color: lightslategrey;
  font-weight: bold;
}

ul.timeline li
{
    height: 20px;
}

.center_ast {
  margin-left: 325px;
  margin-top: -5px;
}

.center_plane {
  margin-top: 10px;
  margin-left: 350px;
}

.center_ast, .center_plane {
  width: 40px;
  position: absolute;
}

.grade{
  width: 85px;
  margin-top: -70px;
  margin-left: 350px;
  position: absolute;
}

.item2 {
  grid-area: menu;
  width: 225px;
  height: 525px;
  border: 1px solid lightgrey;
  background-color: white;
  margin-top: 25px;
  margin-left: -10px;
}

.item3 {
  grid-area: main;
  margin-top: 25px;
  margin-right: -1000px;
  width: 500px;
}

.item4 {
  grid-area: right;
  margin-top: 25px;
  margin-right: -115px;
  width: 500px;
}

.item5 {
  grid-area: footer;
  margin-top: -15px;
  margin-right: -10px;
  width: 1000px;
}

.item5, .item4, .item3, .item2 {
  padding: 15px;
  background-color: white;
  /*shadows*/
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'menu main main main main right'
    'menu footer footer footer footer footer';
  padding: 10px;
}

.ico {
  align: "left";
  width: 10%;
}

textarea {
  width: 55%;
  margin-top: 10px;
  background-color: whitesmoke;
  border: none;
  margin-left: 225px;
  /* Letras del interior */
  font-weight: bold;
  line-height: 1.5;
  color: #666666;
  padding: 12px;
  /* Hace redonda la caja */
  border-radius: 20px;
  /* No se puede modificar el tamaño de la caja */
  resize: none;
}

button {
  height: 50px;
  border-radius: 25px;
  border: none;
  background: lightpink;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  padding: 0 25px;
  margin-left: 225px;
}
