@font-face {
  font-family: 'Zelda';
  src: url(Triforce.ttf);
}

/* Fondo de la página */
body {
    background-color: #0e5135;
    background-image: url("background2.jpg");
    background-size: cover;
}

/* Estilo para el canvas: Negro */
#canvas {
  background-color: black;
  border: 3px double goldenrod;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#squaredTwo {
}

h1 {
  font-family: 'Zelda';
  color: darkred;
  font-size: 50px;
  text-align: center;
  background: -webkit-linear-gradient(navajowhite, antiquewhite);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  font-family: 'Zelda';
  color: goldenrod;
  font-size: 20px;
}

div {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
